<app-navbar></app-navbar>
<div class="main-container">
  <div>
    <app-insights></app-insights>

    <div class="row m-0">
      <div class="col-6">
        <app-chart
          *ngIf="expenses"
          [parameter1]="expense_name"
          [parameter2]="expense_amount"
          [data]="expenses"
        ></app-chart>
      </div>

      <div class="col-6">
        <app-chart
          *ngIf="expensesCategory"
          [parameter1]="category_name"
          [parameter2]="total_sum"
          [data]="expensesCategory"
        ></app-chart>
      </div>
    </div>

    <!-- Newsletter Section -->
    <!-- <div class="newsletter">
      <h2>Subscribe to Our Newsletter</h2>
      <p>Stay updated with our latest news, offers, and promotions by subscribing to our newsletter.</p>
      <input type="email" placeholder="Enter your email address">
      <button>Subscribe</button>
    </div> -->
  </div>
</div>
