<div class="vh-100" style="background-color: #104145">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 0px">
          <div class="card-body p-md-5">
            <div class="row justify-content-between">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 mt-5">
                <p class=" h1 fw-bold mb-5 mt-4" style=" padding-left: 20px; font-family: Verdana, sans-serif;
">
                  Managing Finances has never been easier
                </p>
                <form
                  [formGroup]="loginForm"
                  (submit)="submit()"
                  class="mx-1 mx-md-4"
                >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="username"
                        formControlName="username"
                        class="form-control"
                        placeholder="Username"
                      />
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">

                      <input
                        type="password"
                        id="password"
                        formControlName="password"
                        required
                        class="form-control"
                        placeholder="Password"
                      />
                      
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 mt-5">
                    <button type="submit" class="btn btn-lg">
                      Log In
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex order-1 order-lg-2 justify-content-center align-items-end">
                <img
                  src="https://expenseai.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero-image.19de4fb7.png&w=2048&q=75"
                  class="img-fluid"
                  style="width: 120%; max-width: 850px; position: absolute; bottom: -80px; margin-left: -200px;"
                  alt="Sample image"
                />
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
