input{
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 0;
    color: black;
}
body{
    overflow: hidden;
}

button{
    background-color: #A5D6B1;
    color: black;
    border: 1px solid black;
}

.img-fluid{
    padding-top: px;
    padding-left: 200px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #68716c;
  box-shadow: 0 0 5px rgba(53, 61, 56, 0.5);
}
