<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center" style="background-color: #104145">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-10">
      <div class="card text-black p-5 my-5">
        <h1 class="text-center fw-bold mb-4">Sign Up</h1>

        <!-- Form starts here -->
        <form [formGroup]="registerForm">
          <div class="row">
            <!-- Left Side Form -->
            <div class="col-md-6 d-flex flex-column">
              <div class="form-group">
                <input type="text" formControlName="username" id="username" class="form-control" required placeholder="Username"/>
              </div>

              <div class="form-group mt-5">
                <input type="password" formControlName="password" id="password" class="form-control" required placeholder="Password"/>
              </div>

              <div class="form-group mt-5">
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required placeholder="Confirm Password"/>
              </div>

              <div class="form-group mt-5">
                <input type="email" id="email" formControlName="email" class="form-control" required placeholder="Email"/>
              </div>
            </div>

            <!-- Right Side Form -->
            <div class="col-md-6 d-flex flex-column">
              <div class="form-group">
                <input type="text" id="fullname" formControlName="fullname" class="form-control" placeholder="Full Name"/>
              </div>

              <div class="form-group mt-5">
                <input type="text" id="mobile" formControlName="mobile" class="form-control" placeholder="Contact"/>
              </div>

              <div class="form-group mt-5 d-flex align-items-center">
                <label for="dob" class="me-2" style="white-space: nowrap;">Date of Birth:</label>
                <input type="date" id="dob" formControlName="dob" class="form-control" placeholder="Date of Birth"/>
              </div>              
              

              <div class="form-group mt-5">
                <div ngbDropdown class="d-inline-block w-100">
                  <button type="button" class="btn button1 w-100" id="dropdownBasic1" ngbDropdownToggle>
                    {{ selectedIncome ?? "Select Income Type" }}
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
                    <button (click)="selectIncome(income)" ngbDropdownItem *ngFor="let income of incomeData" class="dropdown-item button1" style="border: 0;">
                      {{ income.income_type_name }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="text-center mt-4">
            <button type="submit" class="btn px-4 py-2" (click)="submit()">Submit</button>
          </div>
          <div class="text-center mt-3" >
            <a [routerLink]="'/login'" style="color: black;">Sign In If you've registered</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
